/* Cores por variáveis */
:root {
  --Fundo: #151320;
  --Fundo_claro_body: #eceff1;
  --Evento_hover_color: yellow;
}
/* Estilo dos botões */
.botao-adicionar {
  background-color: var(--Fundo);
  color: var(--Fundo_claro_body);
  font-weight: 600;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.btn{
    min-width: 90px;
}
.botao-adicionar:hover {
  box-shadow: 0px 0px 10px 2px black;
}
/* nav - Barra de navegação */
nav {
  background-color: var(--Fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: fit-content;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
  position: relative;
}
/* Colocar lista no estremo esquerdo e direito da barra de navegação */
.nav-left {
  width: 50%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
}
.nav-right {
  width: 50%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-end
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
li > a {
  transition: 0.3ms;
  margin: 5px;
  margin-top: 100px;
  color: var(--Fundo_claro_body);
  text-decoration: none;
}
ul > li > a:hover {
  color: var(--Evento_hover_color);
}
/* Rodapé da página */
footer {
  background-color: var(--Fundo);
  color: var(--Fundo_claro_body);
  width: 100%;
  height: 300px;
  box-shadow: 0.5px 10px 10px 10px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Dark mode*/
body {
  transition: 0.3ms;
  background-color: var(--Fundo_claro_body);
}

input[type="checkbox"] {
  display: none;
}
.bi {
  /* font-size: 1.3rem; */
  cursor: pointer;
}
.bi-sun,
.bi-moon {
  color: #fff;
}
.bi-sun:hover,
.bi-moon:hover {
  color: yellow;
}
.bi-moon {
  display: none;
}
.dark,
.dark body {
  background-color: #151320;
  color: #fff;
}
.dark .bi-sun {
  display: none;
}
.dark .bi-moon {
  display: block;
}
.dark nav {
  box-shadow: 0.5px 0.5px 10px 0.5px #fff;
}
.dark .botao-adicionar {
  background-color: #322d4b;
  color: var(--Fundo_claro_body);
  font-weight: 600;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
.dark .botao-adicionar:hover {
  box-shadow: 0px 0px 10px 2px white;
}
.titulo {
  color: #000;
}
.dark .titulo {
  color: #fff;
}
/* Evento hover no botão editar e excluir */
.bi-pencil:hover {
  color: aqua;
}
.bi-trash:hover {
  color: red;
}
.table {
  box-shadow: 0px 0px 10px 0px gray;
}
table.table > thead > tr th {
  background-color: #151320;
  color: #fff;
}
/* Dark modal */
.dark .modal-dialog .modal-header {
  background-color: #151320;
  color: #fff;
}
.dark .modal-dialog .modal-body {
    background-color: #151320;
    color: #fff;
}
.dark .modal-dialog .modal-footer {
    background-color: #151320;
    color: #fff;
}
table>tbody>tr>td>a{
    text-decoration: none;
    margin: 5px;
}