/* Cores por variáveis */
:root{
    --Fundo:#151320;
    --Fundo_claro_body: #eceff1;
    --Evento_hover_color: yellow;
}

/* Estilo dos botões */
button{
    background-color: var(--Fundo);
    color: var(--Fundo_claro_body);
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 5px;
}
/* button:hover{
    background-color: var(--Evento_hover_color);
    color: var(--Fundo);
} */
/* nav - Barra de navegação */
nav{
    background-color: var(--Fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: fit-content;
    box-shadow: .5px .5px 10px .5px #000;   
    position: relative;
}
/* Colocar lista no estremo esquerdo e direito da barra de navegação */
.nav-left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main, ul{
    display: flex;
    flex-direction: row;
}
main, ul, li, a{
    transition: 0.3ms;
    margin: 5px;
    color: var(--Fundo_claro_body);
}
main, ul, li, a:hover{
    color: var(--Evento_hover_color);
}
/* Corpo principal da página */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.area-botao{
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}
.area-tabela{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
}

/* Rodapé da página */
footer{
    background-color: var(--Fundo);
    color: var(--Fundo_claro_body);
    width: 100%;
    height: 300px; 
    box-shadow: .5px 10px 10px 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark mode*/
body{
    transition: 0.3ms;
    background-color: var(--Fundo_claro_body);
}

input[type="checkbox"]{
    display: none;    
}
.bi{
    /* font-size: 1.3rem; */
    cursor: pointer;
}
.bi-sun, .bi-moon{
    color: #fff;
}
.bi-sun:hover, .bi-moon:hover{
    color: yellow;
}
.bi-moon{
    display: none;
}
.dark, .dark body{
    background-color: #151320;
    color: #fff;

}
.dark .bi-sun{
    display: none;
}
.dark .bi-moon{
    display: block;
}

